/*#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
*{
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.mainContainer{
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #380542;
  border-radius: 20px;   
  background-color: #e7d4e2;
}    
  .cardsContainer{
      height: 600px;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: 15px solid #380542; 
      border-radius: 20px;       
  }
    .cardContainer, .bingo-draw{
      width: 300px;
    }

  .playersCard .computersCard{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .container-line1-player, .container-line2-player, .container-line3-player, .container-line1-computer, .container-line2-computer, .container-line3-computer{
    height: 40px;
    width: 200%;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
    .number{
        width: 20%;
        height: 100%;
        font-size: 30px;
        margin-top: 4px;
      }
/*
    .bingoContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
}
*/
   .numberContainer{
      /*height: 120px;*/
      width: 150px;
      margin-top: 10px;
      text-align: center;
      /*border: 1px solid black;
      border-radius: 35px;
      background-color: white;*/

      }
      .callNumber{
        font-size: 25px;
        margin-top: 35px;
      }

      .crossedOff{
        text-decoration: line-through #9b59b6;
      }


      .buttonContainer button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background-color: #9b59b6;
        color: black;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        border: 5px solid #380542;
        border-radius: 10px;      
        }

        .showAll{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          width: 50%   
        }
