/*#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}*/
*{
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.mainContainer{
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #380542;
  border-radius: 20px;   
  background-color: #e7d4e2;
}    
  .cardsContainer, .bingoContainer, .computerContainer{
      height: 600px;
      width: 600px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: 15px solid #380542; 
      border-radius: 20px;       
  }
 

   #playersCard, #computersCard{ 
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-content: center;
      border: 5px solid #585E66;
      border-radius: 10px;
      margin: 50px auto;
      font-size: 75px;
      padding: 50px;
      background-color: #B0DBDE;
      box-shadow:0px 10px 13px -7px #000000, -1px 24px 18px 12px rgba(0,0,0,0.5);
    }
    

    #showNumber{
        height: 50px;
        width: 50px;
        border: 5px solid #380542;
        border-radius: 10px;
        margin: 50px auto;
        font-size: 40px;
        padding: 50px;
        background-color: white;
        /*box-shadow:0px 10px 13px -7px #380542, -1px 24px 18px 12px rgba(0,0,0,0.5);*/
    }
   
    .bingoContainer{    
      border: none;
      width: 205px;
    }

    button{
      background-color: #9b59b6;
      color: black;
      font-weight: bold;
      font-size: 20px;
      padding: 20px;
      border: 5px solid #380542;
      border-radius: 10px;      
      }
